<title>polarfeed</title>
<body style="background-color:sandybrown">
<h1 style="color:seagreen">Welcome to PolarFeed's Homepage!</h1>
<a href='/register'> Don't have an acount yet? Register here now!</a><br>
<a href='/login'>Already have an acount? Login!</a>
</body>