<body>
    <h1 style="color:seagreen;">Create an account!</h1>
    <form action="/register" method="POST">
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
    <a href="/login">Back to Login Page</a>
</body>